Datasets/*
**/__pycache__
Volumes/*
mdb_dataset_features.txt
Scripts/scrape_mdb.py
**/.hypothesis
**/.pytest_cache
**/.venv
**/import_times.json
**/query_performance.json
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.req
*.lot
*.lof
*.listing
**/_minted
